.subscription-sec {
  padding: 4rem 0;
  margin-top: 4rem;
}
.subscription-sec-heading {
  font-size: 2rem;
  letter-spacing: -2px;
  margin-bottom: 1.5rem;
}
.subscriptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.subscription-card {
  min-width: 250px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  padding: 1.5rem;
}
.product-view {
  padding-bottom: 1rem;
  border-bottom: 2px dotted var(--border-light);
  position: relative;
}
.subs-heading {
  font-size: 1.5rem;
  letter-spacing: -1px;
  margin: 5px 0;
}
.plan-details {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.plan-item {
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  word-break: break-all;
  gap: 5px;
}
.flexfit {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/*...........................................................................*/

.product-price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
  padding: 1rem 0;
}
.price {
  font-size: 2.1rem;
  letter-spacing: -2px;
  font-weight: bolder;
}
.duration {
  font-size: 14px;
  line-height: 13px;
}
.product-img {
  height: 80px;
  aspect-ratio: 1/1;
  border-radius: 5px;
}
.active-sub-label {
  padding: 0.5rem;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
}
