<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failure</title>
    <link rel="icon" type="image/icon" href="/img/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Zilla+Slab:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container-lg">
        <div class="message-div">
            <img src="/img/cross.png" alt="check icon png" style="width:70px; aspect-ratio: 1/1; margin-bottom: 1rem;"/>
            <h2 class='heading'>Something Went Wrong</h2>
            <p style="margin-bottom:1rem;"> <%= error %> </p>
        </div>
    </div>
</body>
</html>