<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/icon" href="/img/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Zilla+Slab:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container-lg">
        <div class="center-div">
            <div class="form center">
                <form action="" method='post' onsubmit="handleSubmit(event)">
                    <h1 class="heading">Reset Password!</h1>
                    <label for="password">Password</label><br/>
                    <input 
                        class="full-field" 
                        type="password" 
                        id="password" 
                        name="password" 
                        placeholder="Enter new password"
                    />
                    <label for="confirm-password">Confirm Password</label><br/>
                    <input 
                        class="full-field" 
                        type="password" 
                        id="confirm-password" 
                        name="confirm-password" 
                        placeholder="Confirm new password"
                    />
                    <p class="server-error-msg display-none" id="form-error-msg">Password & Confirm Password doesn't match</p> 
                    <button type='submit' class='btn btn-black btn-full'>Reset Password</button>
                </form>
                <p class="alternate-option" style="font-weight: 500;">For: <%= email %></p>
                <% if (error) { %>
                    <p className="server-error-msg"><%= error %></p>
                <% } %>
            </div>
        </div>
    </div>
    <script>
        function handleSubmit(e){
            if(document.getElementById('password').value !== document.getElementById('confirm-password').value){
                document.getElementById('form-error-msg').classList.remove('display-none')
                e.preventDefault();
            }
            else{
                document.getElementById('form-error-msg').classList.add('display-none')
                return true
            }
        }
    </script>
</body>
</html>