.gredient-bg {
  background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(28, 100%, 74%, 0.07) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 0.17) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 0.05) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 0.17) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 0.37) 0px, transparent 50%),
    radial-gradient(
      at 80% 100%,
      hsla(240, 100%, 70%, 0.36) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 0.16) 0px, transparent 50%);
  /* radial-gradient(at 80% 0%, hsla(189,100%,56%,0.26) 0px, transparent 50%),
  radial-gradient(at 0% 50%, hsla(355,100%,93%,0.04) 0px, transparent 50%),
  radial-gradient(at 80% 100%, hsla(240,100%,70%,0.12) 0px, transparent 50%); */
}
.hero {
  position: relative;
}
