*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
}
:root{
  --primary-font:'Poppins', sans-serif;
  --border-light:#D9D9D9;
  --color-yellow:#FBBC05;
  --color-red:#EA4335;
  --color-green:#34A853;
  --color-blue:#4285F4;
  --secondary-font-color:#707070;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0 !important;
}
p{
  color: var(--secondary-font-color);
}
a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}
a:hover {
  color: #4285F4;
}
