.user-nav {
  width: 220px;
  padding: 1.5rem 1rem 1.5rem 0;
  min-height: 100vh;
  border-right: 2px solid var(--border-light);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: fixed;
}
.logo-display {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-logo {
  height: 25px;
}
.navigations {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  color: var(--secondary-font-color);
  font-weight: 400;
}
.nav:hover {
  font-weight: 500;
  color: #000;
}
.nav-active {
  font-weight: 500;
  color: #000;
}
.nav-text {
  text-transform: capitalize;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.logout {
  color: var(--color-red);
}
.logout:hover {
  color: var(--color-red);
  font-weight: 500;
}
