.card{
  max-width: 300px;
  padding: 2rem;
  border: 0.5px solid #353535;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}