.session-wrap {
  display: flex;
  padding: 1rem 1.5rem;
  flex-wrap: wrap;
  border-radius: 8px;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.session-wrap:last-child {
  margin-bottom: 2rem;
}
.mentor-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: baseline;
  margin-bottom: 0.2rem;
}
.mentor-name {
  font-size: 1.2rem;
}
.session-time-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.session-time,
.session-date {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  color: var(--secondary-font-color);
}
.schedule-text {
  font-size: 12px;
}
.session-status {
  min-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  justify-content: flex-start;
}
.status-color {
  height: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.separator {
  width: 1px;
  height: 1rem;
  border: 1px solid var(--border-light);
}

@media (max-width: 375px) {
  .separator {
    display: none;
  }
}

.resultcard {
  min-width: 200px;
  width: 400px;
  position: absolute;
  left: 45%;
  top: 30%;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: #fff;
  z-index: 2;
  border-radius: 8px;
}
.close-result-btn {
  border-radius: 50%;
  height: 25px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
}
.result {
  border-top: 2px dotted var(--border-light);
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.result-item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.result-item h1 {
  font-size: 1rem;
  letter-spacing: -0.5px;
}
.result-item span {
  width: 120px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.session-date-time {
  margin-top: 1rem;
  padding-top: 1rem;
  font-style: italic;
  font-size: 12px;
  text-align: end;
  border-top: 2px dotted var(--border-light);
}
