.chat-section-wrap {
  padding: 1rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.reciver-details {
  position: relative;
  padding: 1.5rem 1rem;
  border-radius: 8px;
  background-color: #f3f2f2;
  min-height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.reciver-img {
  height: 90px;
  aspect-ratio: 1/1;
  border: 4px solid #fff;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.reciver-name {
  font-size: 1.2rem;
  margin-bottom: 3px;
}
.socials {
  margin-top: 1rem;
  display: flex;
  gap: 0.8rem;
  flex-direction: row;
  color: var(--secondary-font-color);
}
.social-icon {
  cursor: pointer;
}
.span-tag {
  width: 100%;
  text-align: center;
  /* color: var(--color-blue); */
  margin: 1rem auto;
}
.chat-section {
  width: 100%;
  padding: 8px;
  border: 0.5px solid var(--border-light);
  flex-grow: 1;
  margin-bottom: 1rem;
  overflow-y: auto;
  border-radius: 5px;
}

.send-message-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

#send-message {
  flex-grow: 1;
  border: 1px solid var(--border-bold);
  border-radius: 5px;
  background-color: #f3f2f2;
  resize: none;
  padding: 1rem;
  word-break: break-all;
}
.btn-send {
  height: 100%;
  aspect-ratio: 1/1;
  padding: 1rem;
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 300px) {
  #send-message::placeholder {
    font-size: 12px;
  }
}

.chat-member-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.chat-member {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.msg-count {
  width: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.chat-close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  font-size: 1rem;
  cursor: pointer;
}

.msg-wrap {
  padding: 0 8px;
  margin-top: 1rem;
}
.msg-date {
  font-size: 12px;
  margin-top: 5px;
  text-align: end;
}
.msg-body {
  padding: 1rem;
  margin-top: 5px;
  /* overflow-wrap: break-word; */
  word-wrap: break-word;
  /* word-break: break-all; */
  /* white-space: pre-wrap; */
}
.msg-from {
  background-color: #e4effa;
  border-radius: 0 8px 8px 8px;
}
.msg-to {
  background-color: #f3f2f2;
  border-radius: 8px 0 8px 8px;
}
.sender {
  text-align: end;
}
/* 
.sender-date {
  text-align: start;
} */
